<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>home</title>

</head>

<body>
  <header>
    <h1>HEROES</h1>
    <nav>
      <ul>
        <li><a href="babbage">Babbage</a></li>
        <li><a href="berners-lee">berners-lee</a></li>
        <li><a href="clarke">Clarke</a></li>
        <li><a href="hamilton">Hamilton</a></li>
        <li><a href="lovelace">Lovelance</a></li>
        <li><a href="turing">Turing</a></li>
        <li><a href="opper">Hopper</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <h2>Home</h2>
  </section>

  <div class="card-cont">
    <div class="card">
      <img src="/img/babbage.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Babbage</b></h4>
        <p>Matemático y científico</p>
      </div>
    </div>
    <div class="card">
      <img src="/img/tim berners.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Berners-lee</b></h4>
        <p>Científico de la computación</p>
      </div>
    </div>
    <div class="card">
      <img src="/img/clarke.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Clarke</b></h4>
        <p> Escritor y científico</p>
      </div>
    </div>
    <div class="card">
      <img src="/img/margaret-hamilton.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Hamilton</b></h4>
        <p>Matemática e ingeniera de Software</p>
      </div>
    </div>
    <div class="card">
      <img src="/img/lovelace.jpeg" alt="Avatar">
      <div class="container">
        <h4><b>Lovelance</b></h4>
        <p> Matemática y escritora</p>
      </div>
    </div>
    <div class="card">
      <img src="/img/alan turing.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Turing</b></h4>
        <p>Matemático</p>
      </div>
    </div>
    <div class="card">
      <img src="/img/hopper.jpg" alt="Avatar">
      <div class="container">
        <h4><b>Hopper</b></h4>
        <p>Científica de la computación</p>
      </div>
    </div>
  </div>



</body>

</html>